.hero {
    display: flex;
    align-items: center;
    min-height: 320px;
    width: 100%;
    text-align: center;
    opacity: 95%;
    background-image: url("../public/images/heros/hero-image_4-large.jpg");
    background-position: center;
}

.hero-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    margin: 0 auto;
}

.hero-title {
    font-weight: bold;
    font-weight: 500;
    font-size: 36px;
    color: whitesmoke;
}

.hero-tagline {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
}

.hero-button {
    margin-top: 16px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.primary-button:hover {
    border: 2px solid darkred;
    box-shadow: whitesmoke 4px 4px 0 0;
}

.secondary-button:hover {
    border: 2px solid whitesmoke;
    box-shadow: darkred 4px 4px 0 0;
}

.primary-button {
    border: 2px solid darkred;
    background-color: darkred;
    color: white;
}

.secondary-button {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: darkred;
}